

.site-footer-boxes{
    padding-top: 66px;
    padding-bottom: 25px;
}

.footer-center-line{
    border-bottom: 0.8px solid #D2D2D2;
}

.footer-log-box{
    width: 100%;
    max-width: 372px;
}


.footer-log-box p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.footer-logo-link{
    margin-bottom: 20px;    
}

.footer-logo-text{
    margin-bottom: 25px;
}

.foot-title-abo-us{
    font-weight: 400;
    font-size: 16px;
    line-height: 186.3%;
}
.footer-list-item a{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 186.3%;
}


.footer-contact-box{
    width: 100%;
    max-width: 282px;
}

.footer-links-symbal a img{
    height: auto;
    width: 55px;
    height: 55px;
}

.footer-bottom{
    padding: 29px 0 29px 0;
}

.footer-bottom p{
    margin: 0; 
    font-weight: 400;
    font-size: 13px;
    line-height: 190.6%;
}

@media only screen and (max-width: 500px) {
    .form-text{
        font-size: 12px;
        line-height: 190.6%;
        margin-bottom: 0px;
    }
    .footer-bottom-text{
        font-size: 12px;
        line-height: 190.6%;
    }
}