.our-section{
    padding-top: 141px;
}

.our-section-top-box{
    width: 100%;
    max-width: 497px;
}


.our-title{
    font-weight: 600;
    font-size: 25px;
    line-height: 187.5%;
}

.our-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 187.5%;
    color: #525252;
    margin-bottom: 71px;
}



.our-img-boxes{
    gap: 25px;
}

.our-img-boxes div{
    padding: 0;
}

.our-img{
    width: 100%;
    height: 223px;
    margin: 0;
}
@media only screen and (max-width: 600px) {
    .our-section{
        padding-top: 60px;
    }

}
