.our-section{
    padding-top: 141px;
    padding-bottom: 164px;
}

.our-section-top-box{
    width: 100%;
    max-width: 497px;
}


.our-title{
    font-weight: 600;
    font-size: 25px;
    line-height: 187.5%;
}

.our-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 187.5%;
    color: #525252;
    margin-bottom: 71px;
}