.read-section{
    padding-top: 164px;
    padding-bottom: 125px;
}
.read-text-box{
    width: 100%;
    max-width: 536px;
}

.read-title{
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
}


.read-top-text{
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #515151;
}
.read-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #DC7000;
    padding: 10px 44px;

}

@media screen and (max-width: 1200px) {
    .read-img{
        margin-bottom: 20px;
        width: 550px;
        height: 400px;
    }
}
@media screen and (max-width: 600px) {
    .read-section{
        padding-top: 104px;
        padding-bottom: 49px;
    }
    .read-img{
        margin-bottom: 0;
        width: 450px;
        height: 380px;
    }
    .read-title{
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
    }
    .read-top-text{
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #515151;
    }
}